:root{

--background: hsl(0, 0%, 100%);
--black: #000000;
--yellow: #FFC600;
--blue: #185A7D;
--light-blue: #2C85BC;
--blue-btn: #01426A;
--neutro-gray: #868686;
--blue-gray: #9BB8D3;
--light-gray: #F2F2F2;
--white-gray: #E6E6E6;
--dark: #4B4B4B;
--scrollbar: #D9D9D6;


}
