.o-font-family{

  &--poppins{
    font-family: 'poppins' !important;
  }

  &--poppins-bold{
    font-family: 'poppins-bold' !important;
  }

  &--poppins-Extrabold{
    font-family: 'poppins-Extrabold' !important;
  }

}


