.o-font-size{

  &--title{
    font-size: 35px !important;
  }

  &--title-II{
    font-size: 28px !important;
  }

  &--sub-title{
    font-size: 24px !important;
  }

  &--sub-text{
    font-size: 22px !important;
    font-weight: 200 !important;
  }

  &--normal{
    font-size: 16px !important;
  }


}


